<div *ngIf="control" class="inputfield" [class.edited]="control?.dirty" [class.pending]="pending" [class.error]="error">

    <label *ngIf="label">{{ label }}</label>

    <!-- TEXT INPUT -->
    <input *ngIf="type === 'text'" [formControl]="control" type="text">

    <!-- TEXTAREA -->
    <textarea *ngIf="type === 'textarea'" [formControl]="control"></textarea>

    <!-- SELECT -->
    <select *ngIf="type === 'select'" [formControl]="control">
        <option *ngFor="let opt of options" [value]="opt[optionValue]">
            {{ opt[optionLabel] }}
        </option>
    </select>

    <!-- CHECKBOX -->
    <input *ngIf="type === 'checkbox'" type="checkbox" [formControl]="control">

    <!-- CUSTOM ELEMENT (future) -->
    <ng-content *ngIf="type === 'custom'"></ng-content>

</div>