label {
    display: inline-block;
    width: 150px;
}

.datesection {
    display: flex;
    width: 100%;
    justify-content: right;
    border: 1px solid black;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightstack {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    /* stack vertically */
    align-items: flex-end;
    /* align text to the left */
    gap: 6px;
    /* vertical spacing */
}

input.pending,
input.pending:focus {
    border: 2px solid blue;
    outline: none;
    box-shadow: 0 0 4px blue;
}

input.error,
input.error:focus {
    border: 2px solid red;
    outline: none;
    box-shadow: 0 0 4px red;
}