label {
    display: inline-block;
    width: 150px;
}

.datesection {
    display: flex;
    width: 100%;
    justify-content: right;
    border: 1px solid black;
}

.left {
    margin-left: 0;
    display: flex;
    align-items: left;
    gap: 10px;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightstack {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    /* stack vertically */
    align-items: flex-end;
    /* align text to the left */
    gap: 6px;
    /* vertical spacing */
}

.icon {
    @extend .rightstack;
    width: 25px;
    height: 25px;
    background-color: #aaaaaa;
    margin: 1px;
}

h2 {
    //display: flex;
    border: 1px solid black;
}

.appTitleBar {
    display: flex;
    border: 1px solid black;
    padding: 5px;
}